/CreatioAutoPackageLinkerBlazor/obj
/CreatioAutoPackageLinkerBlazor/bin
/CreatioAutoPackageLinkerBlazor/.idea
/CreatioAutoPackageLinkerBlazor/.vs
/CreatioAutoPackageLinkerBlazor/.vscode
/.idea
/.vs
/.vscode